.suggestion-item:hover {
    /*when hovering an item:*/
    background-color: #0d6efd;
    color:white;
    font-weight: 600;
    cursor: pointer;
}

.suggestion-item {
    padding: 10px;
    font-size: 0.75rem;
    font-weight: 400;
}