div.container a.input-group-btn {
    font-size: 14px;
}

.suggestions {
    position: absolute;
    display: inline-block;
    width: inherit;
    z-index:99;
    background: white;
    color: black;
    top:34px;
}

.input-group {
    flex-wrap: nowrap;
}